$boardColor : #bbada0;
$cellColor : #cdc1b3;
$background: #fbf8ef;
#myGame {
    position: relative;
    top:50px;
    width: 400px;
    margin: 0 auto;
    padding: 0 0 0 0;
    //background-color: goldenrod;
    #gameTitle {
        text-align: center;
        font-weight: 700;
    }
    #gameInfo {
        height: 50px;
        //background-color: aquamarine;
        .score {
            font-size: medium;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }
    }
    #gameBoard {
        height: 400px;
        background-color: $boardColor;
        border-radius: 3%;
        position: relative;
        .gridRow {
            margin: 0 0 0 0;
            //height: 100px;
            //background-color: $boardColor;
            .gridCell{
                // margin: 10px 10px;
                //width: 23%;
                //height: 92px;
                //margin: 1% 1% 1% 1%;
                float: left;
                background-color:$cellColor;
                border-radius: 10%;
                //font-size: 30px;
                font-weight: bold;
                text-align: center;
                //line-height: 92px;
                color: #666;
            }
        }
        .tile{
            background-color:#233;
            border-radius: 10%;
            font-weight: bold;
            text-align: center;
            position: absolute;
        }
    }
}

.gridRow:nth-of-type(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gridRow:nth-last-of-type(1){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gridCell-3X3, .tile-3X3{
    width: 125px;
    height: 125px;
    margin: 4px 4px 4px 4px;
    font-size: 35px;
    line-height: 125px;  // trick 使得文字垂直居中
}

.gridCell-4X4, .tile-4X4{
    width: 92px;
    height: 92px;
    margin: 4px 4px 4px 4px;
    font-size: 30px;
    line-height: 92px;  // trick 使得文字垂直居中
}

.tile-4X4{
    width: 92px;
    height: 92px;
    margin: 4px 4px 4px 4px;
    font-size: 30px;
    line-height: 92px;  // trick 使得文字垂直居中
}
.gridCell-5X5, .tile-5X5{
    width: 72px;
    height: 72px;
    margin: 4px 4px 4px 4px;
    font-size: 25px;
    line-height: 72px;  // trick 使得文字垂直居中
}


footer {
    position: fixed;
    margin: 0 0 0 0;
    top:95%;
}

